.grid-row {
  display: flex;
  gap: 1px;
}

.grid-cell {
  pointer-events: none;
  width: 40px;
  height: 42px;
  background-color: var(--secondary);
  border-radius: 3px;
  margin: 3px;
  font-weight: bold;
  font-size: 35px;
  color: var(--text-color);
  text-align: center;
  caret-color: transparent;
  border-color: transparent;
  cursor: none;
}
.current-cell {
  pointer-events: auto;
}

.grid-cell:focus {
  border-color: white;
}

.grid-cell:hover {
  cursor: default;
}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 600px) {
  .grid-cell {
    margin: 1.5px;
    width: 30px;
    height: 32px;
    font-size: 25px;
  }
}